
.dark {
    background: #333;
    color: #ddd;
}

body {
    font-size: 18px;
    font-family: "Fira Code", sans-serif;
    margin: 8px 32px;
}

@media (max-width: 700px) {
    body {
        margin: 8px;
    }
}

h1 {
    padding: 16px 32px;
    background: #ddd;
    min-width: max-content;
}

.dark h1 {
    background: #444;
}

.optionBar {
    display: flex;
    flex-direction: row;
}

.orderBy {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
}

.sortButton {
    display: flex;
    flex: 1;
    text-align: center;
}

.orderBy .sortButton:not(:first-child) {
    margin-left: 24px;
}

@media (max-width: 700px) {
    .optionBar {
        flex-direction: column;
        min-width: max-content;
        margin-bottom: 16px;
    }

    .orderBy .sortButton:not(:first-child) {
        margin-left: 0;
    }

    .filter .sortButton:not(:first-child) {
        margin-left: 8px;
    }

    .orderBy {
        flex-direction: column;
        align-items: stretch;
    }

    .filter {
        flex-direction: row;
        margin-left: 0;
    }
}

.noNotesText {
    padding: 32px 16px;
    text-align: center;
    background: #ddd;
    border-radius: 4px;
}

.dark .noNotesText {
    background: #444;
}

.list {
    padding: 0;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 16px 0;
    padding: 4px;
    background: #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.dark .container {
    background: #444;
}

.container1 {
    display: flex;
    flex-direction: column;
    margin: 4px 16px;
    font-size: 16px;
}

.container2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 4px 24px;
    font-size: 16px;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4px 16px;
    font-size: 16px;
}

.date {
    margin: 8px 0;
    padding: 0 8px;
}

.title {
    font-weight: bold;
    margin: 8px 0;
    padding: 0 8px;
}

.importance {
    text-align: center;
    margin: 8px 0;
    padding: 0 8px;
}

.finished {
    display: flex;
    flex: 1;
    align-items: center;
}

.description {
    flex: 1;
    font-size: 16px;
    font-family: "Fira Code", sans-serif;
    padding: 8px;
    resize: none;
}

.dark .description {
    background: #555;
    color: #ddd;
}

.edit {
    display: flex;
    flex: 1;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        min-width: max-content;
    }
    .container1, .container3 {
        margin: 4px 16px;
        flex-direction: row;
        justify-content: space-between;
    }

    .container2 {
        margin: 0 16px;
    }

    .finished, .edit {
        flex: 0;
    }
}

/*================================================*/
/*                Note layouts                    */
/*================================================*/

.noteContainer {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
    min-width: max-content;
}

.noteElement {
    display: flex;
    flex-direction: row;

    margin: 8px 0;
}

.noteElement > label:first-child {
    min-width: 180px;
    align-self: center;
}

.noteElement > input, .noteElement > textarea, .noteElement > div {
    flex: 1;
    padding: 8px;
    font-family: "Fira Code", sans-serif;
    font-size: 16px;
}
.dark .noteElement > input, .dark .noteElement > textarea {
    background: #444;
    color: #dddddd;
}

.noteElement > div > label {
    margin-right: 8px;
}

@media (max-width: 700px) {
    .noteElement {
        flex-direction: column;
    }

    .noteElement > label:first-child {
        min-width: max-content;
        align-self: start;
    }
}

/*================================================*/
/*                   Buttons                      */
/*================================================*/

.defaultButton {
    flex: 1;
    font-size: 18px;
    font-family: "Fira Code", sans-serif;
    margin: 8px 0;
    padding: 8px 16px;
}

.dark .defaultButton {
    background: #555555;
    color: #dddddd;
}

.dark .defaultButton:hover {
    background: #5F5F5F;
    color: #dddddd;
}
