
h1 {
    padding: 16px 32px;
    background-color: lightgray;
}

body {
    font-size: 18px;
    font-family: "Fira Code", sans-serif;
}

@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto min-content;
        grid-template-areas: "title title" "date importance" "description description" "finished edit";
    }
}
@media (min-width: 600px) {
    .container {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: max-content auto min-content;
        grid-template-areas: "date title importance" "finished description edit";
    }
}

.date {
    grid-area: date;
    width: max-content;
}

.title {
    grid-area: title;
}

.importance {
    grid-area: importance;
    width: fit-content;
}

.finished {
    grid-area: finished;
}

.description {
    grid-area: description;
}

.edit {
    grid-area: edit;
    width: fit-content;
}

.noteContainer {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
}

.noteElement {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin: 8px 0;
}

.noteElement > label:first-child {
    min-width: 180px;
    align-self: center;
}

.noteElement > input, .noteElement > textarea {
    flex: 1;
    align-self: start;
    padding: 8px;
    font-family: "Fira Code", sans-serif;
    font-size: 16px;
}

.noteButton {
    padding: 8px 32px;
    font-family: "Fira Code", sans-serif;
    font-size: 16px;
}
